<div class="modal fade" id="confirmation-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered common-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmation-modal-title">modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-center" id="confirmation-modal-description">message ?</p>
                <div class="center-btn">
                    <button type="button" class="btn btn-primary" id="confirmation-modal-yes-button">yes text</button>
                    <button type="button" class="btn btn-outline" id="confirmation-modal-no-button"
                            data-bs-dismiss="modal">no text</button>
                </div>
            </div>
        </div>
    </div>
</div>
