<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src='/static/js/download-project.js' ></script>
    <link href='/static/css/download-project.css' rel="stylesheet" ></head>
    <meta charset="UTF-8">
    <title>Django Starter</title>
</head>
<body>

{% if messages %}
<ul class="messages" id="message-div">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="container center">
    <h1 class="header">Django Starter</h1>
    <form name="download-project" action="{% url 'download-project' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-25">
                <label for="project_name">Project Name</label>
            </div>
            <div class="col-75">
                <td><input type="text" name="project_name" id="project_name"/></td>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="auth-type">Authentication Type</label>
            </div>
            <div class="col-75">
                <select name="auth_type" id="auth-type" required>
                    <option id="auth" value="auth"> Oauth2 </option>
                    <option id="jwt" value="jwt"> JWT </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="notification">Need Notification Module</label>
            </div>
            <div class="col-75">
                <input type="checkbox" name="notification" id="notification"/>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Create Project"/>
        </div>
    </form>
</div>

<div class="container center">

    <div>
        <p>How to run the downloaded project:</p>
    </div>
    <div>
        <ul>
            <li>
                Download the zip folder and extract it.
            </li>
            <li>
                Create python3.8 environment and activate it.
            </li>
            <li>
                Install the requirements.txt file.
            </li>
            <li>
                Run the makemigrations command & then migrate.
            </li>
            <li>
                Run the server using python manage.py runserver.
            </li>

        </ul>
    </div>
    <div>
        <p>
            There are some other features also that you can use:
        </p>
        <ul>
            <li>
                If you want to show the tool-tip error messages in web-admin panel,<br>
                use the showError("error message") function in js.
            </li>
            <li>
                If you want to show the tool-tip success messages in web-admin panel,<br>
                use the showSuccess("success message") function in js.
            </li>
            <li>
                There is a preLoaded confirmation-modal in the templates > common > confirmation-modal.html.<br>
                just include that file in your html file and use it as follows:<br>

                $("#confirmation-modal-title").html("Logout");<br>
                $("#confirmation-modal-description").html("Are you sure want to logout?");<br>
                $("#confirmation-modal-yes-button").attr("onClick", "logout()");<br>
                $("#confirmation-modal-yes-button").html("Yes");<br>
                $("#confirmation-modal-no-button").html("Cancel");<br>
                $("#deactivate-customer").modal('show');
            </li>
            <li>
                To show the loader, use showLoader();<br>
                To hide the loader, use hideLoader();
            </li>
            <li>
                To hide the success/error tooltips, use preLoaded function timeOut(); <br>
                The default timeout is 4500 you can change it in apps > web_admin > static > js > common.js > timeOut()
            </li>

        </ul>
    </div>
    <div>
        <iframe width="748" height="421" src="https://www.youtube.com/embed/IV5dHYhzEtY"
                title="How to use | Django Starter" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>
    </div>

</div>

</body>
</html>