.env
.idea/
*.pyc
.idea
venv/*
*.sqlite3
/migrations/__pycache__/
/__pycache__/
/*.pyc
/__pycache__/*.pyc
__pycache__/
static/admin/*
sqlite3.db
/media/
celerybeat-schedule
*.log
/static/
.scannerwork/
/migrations/*
db.sqlite3
