{% extends 'common/base.html' %}
{% block extra_head %}
    <title>Reset Password</title>
    <script src="/static/js/reset-password.js"></script>
{% endblock %}

{% block content %}
    <form action="{% url 'account:v1:reset-password' %}" method="post" name="reset-password">
        {% csrf_token %}
        <input type="hidden" name="token" value="{{request.GET.token}}"/>
        <input type="hidden" name="email" value="{{request.GET.email}}"/>
        <input type="password" name="new_password" id="new-password" placeholder="New Password"/>
        <input type="password" name="confirm_password" id="confirm-password" placeholder="Confirm Password"/>
        <input type="submit" name="RESET PASSWORD"/>
    </form>

{% endblock %}
